
.login-container{
  background-color: #707070;
  width: 350px;
  height: 450px;
  border-radius: 7px;
  outline: transparent;
  
}

.login-field{
  margin: 10px;
  color: white
}

.login{
  text-align: right;
}

.background{
  /* height: 90vh;
  width: 100vh; */

  min-height: 100%;
  min-width: 100%;
  /* width: 100%; */
  height: auto;
  position: fixed;
  /* top: 0;
  left: 0; */
  
  background-color: #19425A;
}
