.navbar{
  background-color: #FFFF !important
}

.navbar-body{
  /* margin: 10px */
  /* display: inline !important; */
}
#admin-logo{
  cursor: pointer;
}

.navbar-logo{
  /* width: 180px; */
  /* left: 1000 px; */
  /* padding-top: 1%; */
  /* position: absolute; */
  text-decoration: none;
  font-size: x-large;
  margin: 15px;
  color: white;
  outline: none;
}

.logo-img{
  float: right;
  /* width: 3%; */
}

.logo-text{
  float: right;
  /* display: table; */
  /* padding-right:10 px; */
  /* width: 10%; */
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* .navbar-logo{
  width: 180px;
  left: -35px;
  position: absolute;
} */

.navbar-links-container{
  /* float: right; */
  display: inline-flex;
  position: absolute;
  right: 20px;

}

.navbar-link{
  text-decoration: none;
  font-size: x-large;
  margin: 15px;
  color: black;
  outline: none;
}

.quickbite-text{
  text-transform: none;
}
.navbar-link :hover{
  color: #F69E20;
}

/* .navbar-logo {
  text-decoration: none;
  font-size: x-large;
  margin: 15px;
  color: white;
  outline: none;
} */