.listing-favorite{
    /* fill: white !important; */
    stroke: black;
    stroke-width: 2;
}

.listing-favorite :hover{
    fill: red;
    cursor: pointer;
}

.listing-notes{
    /* fill: white !important; */
    /* stroke: black; */
    /* stroke-width: 2; */
}

.listing-notes :hover{
    fill: orange;
    cursor: pointer;
}